# dependencies
node_modules

# build output
dist
.astro

# logs
logs
*.log

# env
.env
.env.*
!.env.example

# os / editor
.DS_Store
.idea

# misc
*.tgz
coverage
.eslintcache
*.tsbuildinfo

# vercel local
.vercel

# smoke test
.smoke
